/* palette: https://coolors.co/e5f4e3-0d1821-a31621-058c42-1b98e0 */
:root {
  --bg-light: #e5f4e3;
  --bg-dark: #0d1821;
  --red: #a31621;
  --green: #058c42;
  --blue: #1b98e0;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.noresize {
  resize: none;
}

body {
  background-color: var(--bg-dark);
  color: var(--bg-light);
}
