/* palette: https://coolors.co/e5f4e3-0d1821-a31621-058c42-1b98e0 */
:root {
  --bg-light: #e5f4e3;
  --bg-dark: #121220;
  --border-color: #080808;
  --red: #a31621;
  --red-dark: #600d13;
  --green: #058c42;
  --green-dark: #02421f;
  --blue: #1b98e0;
  --blue-dark: #136a9c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--green);

  &:hover {
    filter: brightness(50%);
  }
}

.noresize {
  resize: none;
}

body {
  background-color: var(--bg-dark);
  color: var(--bg-light);
}

button {
  border-radius: 0;
  padding: 5px 10px;
  background-color: var(--blue);
  font-weight: bold;
  border: 2px solid var(--blue-dark);
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(70%);
  }

  &:active,
  &:disabled {
    filter: brightness(40%);
  }
}

.error {
  color: var(--red);
}

.money {
  font-weight: bold;
}

input,
textarea {
  margin: 8px 0;
  padding: 3px 5px;
  width: 100%;
  border-radius: 0;
  color: inherit;
  background-color: var(--bg-dark);
  border: 2px inset var(--border-color);
  filter: brightness(70%);
}

.delete-btn {
  background-color: var(--red);
  border-color: var(--red-dark);
}

hr {
  margin: 5px 0;
}
