.landing {
  width: 100%;
  padding: 10px 15px;

  & .header {
    padding-left: 20px;
  }
}

.spot-listings {
  display: grid;
  width: 100%;
  grid-template:
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .';

  @media screen and (max-width: 1050px) {
    grid-template:
      '. . .'
      '. . .'
      '. . .'
      '. . .'
      '. . .'
      '. . .'
      '. . .'
      '. . .';
    /*
     * this has an extra space which i don't really like
     * but 4-item rows look terrible at this width
     * and 2-item rows are spaced too far apart
     */
  }

  @media screen and (max-width: 768px) {
    grid-template:
      '. .'
      '. .'
      '. .'
      '. .'
      '. .'
      '. .'
      '. .'
      '. .'
      '. .'
      '. .'
      '. .';
  }

  @media screen and (max-width: 500px) {
    grid-template:
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.';
  }
}
